@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');

body{
    font-family: Poppins;
    font-style: normal;
}

.layer{
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(112.56deg, #B8E1F7 11.77%, #74CEFF 98.29%);
    left: 0;
    top: 0;
}

.layer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 45%; 
    top: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.title{
    position: relative;
    top: 100px;
    margin:0px 420px;
}

.title h1{
    font-size: 26px;
}

.title p{
    font-size: 16px;
    line-height: 35px;
}

.content1{
    margin: 150px 420px 0 420px;
}

.content1 ul li{
    line-height: 30px;
}

.steps{
    margin: 50px 150px;
}

.first-step{
    display: flex;
}

.image{
    position: relative;
    top: -80px;
    width: 55%;
}

.number{
    position: relative;
    right: 70px;
    top: -60px;
    color: #00A6FF;
    font-weight: 600px;
    font-size: 42px;
}

.text{
    position: relative;
    right: 40px;
    top: 15px;
}

.text h3{
    line-height: 0;
}

.text p{
    line-height: 20px;
    color: #505050;
}

.second-step{
    display: flex;
    margin-top: 50px;
}

.number2{
    position: relative;
    color: #00A6FF;
    font-weight: 600px;
    font-size: 42px;

    top: -60px;
    left: 200px;
}

.text2{
    position: relative;
    left: 200px; 
    margin-right: 350px;
    line-height: 30px;
}

.text2 h3,
.text2 p{
    position: relative;
    left: 25px; 
}

.third-step {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image3{
    position: relative;
    top: -80px;
    width: 90%;
}

.number3{
    position: relative;
    right: 70px;
    top: -60px;
    color: #00A6FF;
    font-weight: 600px;
    font-size: 42px;
}

.review{
    position: relative;
    margin: 100px 350px;

    font-family: Poppins;
    font-style: normal;
}

.review h3{
    margin-bottom: 50px;
}

.user-rating{
    display: flex;
    margin: -30px 0 40px 0;
}

.user-star h1,
.user-star span,
.user-star p{
    text-align: center;
    margin: 0 20px 10px 0;
}

.user-star h1{
    font-size: 48px;
    font-weight: 300;
}

.checked {
    color: orange;
}

.side {
    float: left;
    width: 15%;
    margin-top:0px;
  }
  
.middle {
    margin-top:10px;
    float: left;
    width: 70%;
 }
  
  /* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 4px;
    margin-left: 20px;
    height: 8px;
}
  
  /* Individual bars */
.bar-5 {border-radius: 4px; width: 60%; height: 8px; background-color: #4CAF50;}
.bar-4 {border-radius: 4px; width: 30%; height: 8px; background-color: #2196F3;}
.bar-3 {border-radius: 4px; width: 10%; height: 8px; background-color: #00bcd4;}
.bar-2 {border-radius: 4px; width: 4%; height: 8px; background-color: #ff9800;}
.bar-1 {border-radius: 4px; width: 15%; height: 8px; background-color: #f44336;}

.user-review{
    display: flex;
}

.user-star-detail{
    display: flex;
    margin: -20px 10px 0 0;
}

#date{
    position: relative;
    top: 7px;
    left: 10px;
}

.detail-review{
    width: 100%;
    position: relative;
    margin: -25px 0 40px 10px;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 8px;
}

.detail-review p{
    margin: -10px 0 20px 0;
}
